
body {
    background-color: #000000;
}

ul.nav {
    list-style-type: none;              
    margin: 0;                      
    padding: 0;                   
    background: linear-gradient(90deg, #000000, #000000); 
    overflow: hidden;                     
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

ul.nav li {
    display: inline-block;             
}

ul.nav li a {
    display: block;                    
    color: #ff0000;                   
    text-decoration: none;
    padding: 14px 20px;                 
    font-weight: bold;                     
    transition: background-color 0.3s, color 0.3s; 
}

ul.nav li a:hover {
    background-color: #ff0000;           
    color: #000000;                          
    border-radius: 8px;                   
}

h1, h2 {
    margin: 20px 0;                       
    color: #000000;                      
    font-family: 'Palatino Linotype', serif; 
}

p {
    font-size: 18px;                      
    margin: 15px 0;                       
    color: #ff0000;                       
}

a {
    color: #ff0000;                         
    text-decoration: none;                  
}